@model IEnumerable<PhoneTypeModel>

<div class="row">
    <ul>
        @foreach (var phoneType in Model)
        {
            <li>
            @(phoneType.Name + "bla bla balba")
            </li>
        }
    </ul>


</div>