<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Phonebook.BusinessLogicLayer.Managers.Properties.Settings.PhonebookDBConnection"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Phonebook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>