hr{
    clear:both;
}
.separator {
    margin-top:50px;
}
.tableHeaderContainer {
    background: #ccc;
    background: -webkit-linear-gradient(#eee, #ccc);
    background: -o-linear-gradient(#eee, #ccc);
    background: -moz-linear-gradient(#eee, #ccc);
    background: linear-gradient(#eee, #ccc);
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    cursor: default;
    font-weight: bold;
}
.tableHeader,.tableColl{
    float:left;
    width:30%;
}
.tableContainer {
    font-size:17px;
    background-color: #eee;
    height: 60px;
    line-height: 58px;
    padding-left: 30px;
    cursor: pointer;
    transition: 0.3s background-color, color;
}
.tableContainer:hover {
    background-color: rgba(135, 206, 250, 0.5);
    color: black;
}
.picture-col{
    width:100px;
}
.add-another {
    color: green;
    line-height: 40px;
    height: 40px;
    width:50px;
    cursor: pointer;
    margin-left: 20px;
}
.nav-bar{
    margin-top:20px;
    margin-bottom:20px;
}
.odabij{
    margin-top:10px;
    margin-bottom:10px !important;
}
.basic-info{
    width:500px;
    margin-left:50px;
    float:left;
}
.profile-pic {
    background-image: url('images/default-profile-picture.png');
    background-size: 100%;
    height: 220px;
    margin-bottom: 20px;
    width: 220px;
    float: left;
}
.display-title{
    text-align:right;
    width:200px;
    float:left;
    font-size:30px;
    font-weight:bold;
    margin-right:40px;
}
.display-info {
    width: 250px;
    float: left;
    font-size: 30px;
}
.new-table{
    clear:both;
}
.info-table {
    line-height: 28px;
    background-color:#eee;
    border: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #ccc;
    height: 40px;
    cursor:pointer;
    transition: background-color 0.3s;
}
.info-table > div:first-child{
    border:0;
}
.info-table > div{
    text-align:center;
    float:left;
    width:30%;
    height:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    border-left:1px;
    border-left-style:solid;
    border-left-color:#ccc;
}
.info-table input[type="email"] {
    padding-left: 10px;
    background-color:rgba(0,0,0,0);
    cursor:pointer;
    transition: background-color 0.3s;
}
.info-table .btn{
    margin-top:5px;
    float:left;
    margin-left:30px;
}
.info-table:hover {
    background-color: rgba(135, 206, 250, 0.5);
}
.info-table:hover input[type="email"] {
    color:black;
}
.profile-picture-container {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background: white;
    background-image: url('images/default-profile-picture.png');
    background-size: 100%;
    border: 3px solid #ccc;
}
.no-borders{
    border:0;
}
.no-borders-drop {
    background-color:rgba(0,0,0,0);
    border: 0;
    height: 30px;
    width: 150px;
    cursor:pointer;
}
.no-borders-drop:hover{
    color:black;
}
.add-email{
    display:none;
}
input:focus{
    outline:none;
}
select:focus{
    outline:none;
}
button:focus {
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*.email-info2 {
    padding-left: 30px;
    margin-left: 40px;
    border: 0px;
    border-left: 1px;
    border-style: solid;
    border-color: #ccc;
}
.email-info div {
    float: left;
}
.email-info-last {
    border: 1px;
    border-style: solid;
    border-color: #ccc;
}*/